@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 22px;
  /* color: #fff; */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}